PORT=3000
NODE_ENV=development
SESSION_SECRET=cambia-esta-cadena-por-una-larga-y-aleatoria
ADMIN_PASSWORD_HASH=pega-aqui-un-hash-bcrypt
PUBLIC_URL=http://localhost:3000
QR_PUBLIC_TOKEN=define-un-token-largo-para-el-qr
RAZON_SOCIAL=CENTRALES ELECTRICAS DE NARIÑO S.A. E.S.P.
NIT=891200200-8
CORREO_PROTECCION_DATOS=consulta.protecciondatospersonales@cedenar.com.co
LINEA_ATENCION=602 7244321
DIRECCION_EMPRESA=Calle 20 No. 36 - 12, Avenida de los Estudiantes de la ciudad de Pasto
RESPONSABLE_TRATAMIENTO=CENTRALES ELECTRICAS DE NARIÑO S.A. E.S.P. - CEDENAR S.A. E.S.P.
VERSION_AUTORIZACION=2.0
POLITICA_PRIVACIDAD_URL=https://www.cedenar.com.co/
MAX_FILE_SIZE_MB=5
